config:
  lokiAddress: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - docker: {}
      - cri: {}
      - labeldrop:
          - filename

  clients:
    - url: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push

daemonset:
  enabled: true

serviceMonitor:
  enabled: true
