apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: observability
  labels:
    app: alertmanager
data:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: "default"
      group_by: ["alertname", "cluster"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h

    receivers:
      - name: "default"
        # You can wire email, Slack, PagerDuty, etc later
        webhook_configs: []
